os:
  - linux
  - osx

# Linux system
# 'bionic' is latest Ubuntu LTS available on Travis
dist: bionic

# macOS system
# 'xcode11.2' is macOS 10.14 xcode 11B41
osx_image: xcode11.2

# get the default java environment from Travis container
language: java

# N.b. this will possibly pull in additional Java runtimes
addons:
  apt:
    packages:
      - ant
      - maven
      # Needed for rendering the User Manual
      # Unfortunately, installing TeX from scratch is judged too expensive computationally. 
      # - texlive-full
  homebrew:
    update: true
    packages:
      - ant
      - maven
      # Needed for rendering the User Manual
      # Unfortunately, installing TeX from scratch is judged too expensive computationally.
      # - mactex
env:
  - ABCL_JDK=openjdk8  ABCL_ROOT=${TRAVIS_BUILD_DIR}
  - ABCL_JDK=openjdk11 ABCL_ROOT=${TRAVIS_BUILD_DIR}
  - ABCL_JDK=openjdk15 ABCL_ROOT=${TRAVIS_BUILD_DIR}

install:
  - echo PWD=$(pwd) && echo ABCL_ROOT=${ABCL_ROOT}
  - bash -x ${ABCL_ROOT}/ci/install-adoptjdk.bash ${ABCL_JDK}

  # Ensure we can invoke ant
  - . ${ABCL_ROOT}/ci/ensure-jenv-is-present.bash && ant abcl.diagnostic

  # Set build and runtime options for the JVM hosting ABCL
  - bash -x ./ci/create-abcl-properties.bash ${ABCL_JDK}

  # Build ABCL
  - . ${ABCL_ROOT}/ci/ensure-jenv-is-present.bash && ant abcl

  # Configure finding abcl build source via ASDF
  - bash -x ${ABCL_ROOT}/ci/asdf-finds-abcl.bash

  # Install Quicklisp
  - ${ABCL_ROOT}/abcl --eval '(require :asdf)' --eval '(require :abcl-contrib)' --eval '(asdf:load-system :quicklisp-abcl :force t)' --eval '(progn (setf ql-util::*do-not-prompt* t)(ql:add-to-init-file))' --eval '(ext:quit)'

  # Install the patched version of cl+ssl
  #  - bash -x ${ABCL_ROOT}/ci/install-cl+ssl.bash

  # Install the patched version of cffi
  # - bash -x ${ABCL_ROOT}/ci/install-cffi.bash

  # Install the patched version of static-vectors
  # - bash -x ${ABCL_ROOT}/ci/install-static-vectors.bash

  # Install Jeannie for testing
  - bash -x ${ABCL_ROOT}/ci/install-jeannie.bash

  # Install the ANSI-TEST suite
  - bash -x ${ABCL_ROOT}/ci/install-ansi-test.bash


# TODO: figure out how to add abcl to our path

script:
  - ${ABCL_ROOT}/abcl --batch --load ${ABCL_ROOT}/ci/test-abcl-prove.lisp
  - ${ABCL_ROOT}/abcl --batch --load ${ABCL_ROOT}/ci/test-static-vectors.lisp
  - ${ABCL_ROOT}/abcl --batch --load ${ABCL_ROOT}/ci/test-cffi.lisp
  - ${ABCL_ROOT}/abcl --batch --load ${ABCL_ROOT}/ci/test-cl+ssl.lisp
  - ${ABCL_ROOT}/abcl --batch --load ${ABCL_ROOT}/ci/test-abcl-introspect.lisp
  - ${ABCL_ROOT}/abcl --batch --load ${ABCL_ROOT}/ci/test-abcl.lisp
  - ${ABCL_ROOT}/abcl --batch --load ${ABCL_ROOT}/ci/test-jeannie.lisp
  # IRONCLAD takes a long time to test, so we place it near the end
  - ${ABCL_ROOT}/abcl --batch --load ${ABCL_ROOT}/ci/test-ironclad.lisp
  - ${ABCL_ROOT}/abcl --batch --load ${ABCL_ROOT}/ci/test-ansi.lisp
  
  # This would build a release, which needs an installed TeX which is judged too
  # "expensive" to leave as the standard CI process
  # - pushd ${ABCL_ROOT} && ant abcl.release abcl.wrapper && popd
  
  # Print the hashes and sizes of build artifacts
  - pushd ${ABCL_ROOT} && ./abcl --batch --load ./ci/release.lisp  && popd
  

  


  
